@using PPT.Web.Code.Domain
@using PPT.Web.Models
@model PageOf<Contact>

<h2>Contacts</h2>

@Html.Partial("_ContactSearch")
@Html.Partial("_Pager", Model)
@Html.Partial("_PageOfContacts", Model)
@Html.Partial("_Pager", Model)

<div>
Total: @Model.TotalResults<br/>
Page Number: @Model.PageNumber<br/>
Page Size: @Model.PageSize<br/>
</div>

<div>
@Html.ActionLink("Show Invalid Names", "", new { filterInvalidNames = false })<br/>
@Html.ActionLink("Hide Invalid Names", "", new { filterInvalidNames = true })
</div>