@using PPT.Web.Code.Domain
@using PPT.Web.Models
@model PageOf<Contact>

<h2>Contacts</h2>

Total: @Model.TotalResults<br/>
Page Number: @Model.PageNumber<br/>
Page Size: @Model.PageSize<br/>
<ul>
@foreach (var contact in Model){
    @: 
    <li>
        @Html.ActionLink(contact.Forename + " " + contact.Surname, "Details", new { id = contact.Id })
    </li>
}
</ul>

@Html.Partial("_Pager", Model)