@using PPT.Web.Code.Domain
@using PPT.Web.Models
@model PageOf<Contact>

<h2>Contacts</h2>
<table style="width: 80%">
@foreach (var contact in Model){
    @: 
    <tr>
    <td style="width: 100%; background-color: lightblue; padding: 5px; border-bottom: 1px dotted black;">
        @Html.ActionLink(contact.Forename + " " + contact.Surname, "Details", new { id = contact.Id })
    </td>
    </tr>
}
</table>

@Html.Partial("_Pager", Model)

<div>
Total: @Model.TotalResults<br/>
Page Number: @Model.PageNumber<br/>
Page Size: @Model.PageSize<br/>
</div>